* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', sans-serif;
    background-image: url(img/photo-1525947088131-b701cd0f6dc3.png);
    color: goldenrod;
}
main {
    flex: 1;
    display: flex; /* Cambiamos a flexbox */
    flex-direction: column;
    align-items: center; /* Centramos horizontalmente */
    justify-content: center; /* Centramos verticalmente */
    max-width: 1200px;
    margin: auto;
    padding: 20px;   
}
header {
    background-color: rgb(26, 24, 24);
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    color: goldenrod;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

nav a:hover,
nav a.activo {
    background-color: black;
    border-radius: 5px;
}

/* ===== Form container*/
.container-form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

.container-form a {
    display: flex;
    text-decoration: none;
    color: goldenrod;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s;
    display: inline-block;
    margin-bottom: 15px;
}

.container-form h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: goldenrod;
    text-align: center;
}

.container-form form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 15px;
    border: 1px solid goldenrod;
    outline: none;
}
footer {
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
    background-color: black;
    font-size: 0.9rem;
}
